



.imcBox{
    background-color: #4169E1;
    border-radius: 5px;
    display: flex;
    padding: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: brown;
    width: 20%;
    height: 150px;
}
.input{
    width: 60%;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    padding: 8px;
}

.btn{
    width: 40%;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: #3c3a3c;
    color: #ffffffff;
}

.labelInput{
    margin-right: 120px;
    font-family: 'Overpass Mono';
    font-size: 15px;
    color: #ffffffff;
    
}

.subtitle{
    color: white;
}