



.imcBox{
    background-color: #4169E1;
    border-radius: 5px;
    display: flex;
    padding: 60px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: brown;
    width: 300px;
    height: 200px;
}
.input{
    width: 60%;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    padding: 8px;
}

.btn{
    width: 30%;
    padding: 5px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: #3c3a3c;
    color: #ffffffff;
}

.labelInput{
    margin-right: 120px;
    font-family: 'Overpass Mono';
    font-size: 15px;
    color: #ffffffff;
    
}

.btnDiv{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.subtitle{
    color: white;
    margin-top: 20px;
    font-style: oblique;
    font-size: large;
}
.title{
    color: white;
    font-size: 20px;
    font-weight: bold;
}