.imcBox{
    background-color: aqua;
    align-items: center;
    display: flex;
    padding: 20px;
    flex-direction: column;
    color: brown;
    width: 20%;
    height: 200px;
}
.input{
    width: 60%;
    margin-bottom: 10px;
}

.btn{
    width: 50%;
}