.resultBox{
    background-color: #1c375f;
    width: 30%;
    padding: 10px;
    margin-left: 50%;
    margin-top: -15%;
}
.h1{
    color: white;
    text-align: center;
}

.list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


